<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sssws03.web.dao.AdminDAO">

	<select id="adminLogin" resultType="Map" >
	<![CDATA[
		SELECT
		count(*) as count, m_name, m_grade
		FROM members
		WHERE m_id = #{id} AND m_pw=#{pw}
		]]>
	</select>
	<!-- SELECT 수정하지 말기 -->
	
	<select id="list" resultType="Map">
	SELECT * FROM notice ORDER BY nno DESC
	</select>
	
	<insert id="noticeWrite" parameterType="Map">
		INSERT INTO notice(ntitle, ncontent, m_no
			<if test="upFile != null and upFile != ''">, norifile, nrealfile</if>)
		VALUES (#{title}, #{content}, #{mno}
			<if test="upFile != null and upFile != ''">, #{upFile}, #{realFile}</if>)
			
	</insert>
	<select id="noticeDetail" parameterType="Integer" resultType="String">
		SELECT ncontent FROM notice WHERE nno=#{nno}
	</select>
	
	<update id="noticeHide" parameterType="Integer">
		UPDATE notice SET ndel = if(ndel= 1,0,1)
		WHERE nno=#{nno}
	</update>
	
	<select id="setupBoardList" resultType="Map">
		SELECT *
		FROM setupboard ORDER BY b_no ASC
	</select>
	
	<insert id="multiBoardInsert" parameterType="Map">
		INSERT INTO setupboard (mb_cate, b_catename, b_url, b_comment)
		VALUES (#{cateNum}, #{name}, CONCAT('./multiboard?board=',#{cateNum}, #{comment})
	</insert>
	
	<select id="memberList" resultType="Map">
		SELECT m_no, m_id, m_name, m_joindate, m_addr, m_birth ,m_mbti, m_gender, m_grade
		FROM members 
	</select>
	
	<update id="gradeChange" parameterType="Map">
		UPDATE members SET m_grade=#{grade} WHERE m_no=#{mno}
	</update>
</mapper>