<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sssws03.web.dao.NoticeDAO">

	<select id="list" resultType="Map">
		SELECT nno, ntitle, ndate, m_no, nrealfile 
		FROM notice
		WHERE ndel = 1
		ORDER BY nno DESC
		LIMIT 0, 10
	</select>

	<select id="detail" parameterType="Integer" resultType="Map">
		SELECT * 
		FROM notice
		WHERE ndel = 1 AND nno = #{nno }
	</select>

	<select id="getOriFileName" parameterType="String" resultType="String">
		SELECT norifile
		FROM notice
		WHERE nrealfile= #{fileName}
	
	</select>

</mapper>